[submodule "public"]
	path = public
	url = git@github.com:worldpotato/worldpotato.github.io.git
[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = git@github.com:knadh/hugo-ink.git
[submodule "themes/themes/LoveIt"]
	path = themes/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
